body {
	padding: 0px;
	margin: 0px;
}
h1 {
	text-align: center;
}
#box {
	background-color: gray;
	border: 2px solid black;
	padding: 50px;
	margin: 50px;
	float: left;
	margin-right: 10px;
}
#content1 {
	background-color: pink;
	border: 1px solid black;
	padding: 10px;
	margin: -50px;
	float: right
}
#content2 {
	background-color: darkred;
	border: 1px solid black;
	padding: 10px;
	margin: -50px;
	color: white;
	float: right;
}
#content3 {
	background-color: lightyellow;
	border: 1px solid black;
	padding: 10px;
	margin: -50px;
	float: right;
}
@media (max-width: 992px) {
	#box {
		width: 33.33%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#box {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	#box {
		width: 33.33%;
	}
}